.videobackground {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.videobackground__frame {
  min-height: 110vh;
  min-width: 100vw;
  position: absolute;
  left: 45%;
  top: 45%;
}
